spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bicycleshop
    username: UserBicycle
    password: BicyclePass1@
  jpa:
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        globally_quoted_identifiers: true